body{
	background: #000;
background: linear-gradient(45deg, #333, #789);
min-height: 100%;
display:table;
height:100%;
width:100%;
}
img{
	width:20em;
	height:20em;
	border:5px solid black;
	display:block;

}

.rabt{
	color:yellow;
	text-align: center;
	font-size: 60px;
	text-decoration: underline;
	border-style :solid;
	border-color: black;
	border-radius: 20px;
	margin-left:80px;
	margin-right: 80px;
	font-style: italic;
}
h2{
	color:grey;
}
.rabtt{
	color:blue;
}
.bib{
	color: yellow;
}
.safa{
	text-align: right;
	font-weight: bold;
	padding: 50px;
}
.aloui{
	text-align: center;
}
.am{
	text-align:right;
	padding-right: 50px;
}